@page "/DishControl"
@inject IMemberService MemberService
@inject IGoodService GoodService
@inject IDishService DishService
@inject IInviteService InviteService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@inject IDataService DataService
@inject InewHHService HHService

@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>DishControl</PageTitle>
<h3>DishControl</h3>
<button onclick="@Nuke">Nuke</button>
<button onclick="@GoToCreateNewDish">Add new</button>
<br />
<button onclick="@GoToMapDish">Map</button>

<h1>@date</h1>
<h1>@date.ToShortDateString()</h1>
<InputDate @onchange="UpdateDate" @bind-Value="@date"></InputDate>
@foreach(var dish in datesDishes)
{
    <div @onclick="() => SetDataAndNavigate(dish)" style="cursor:pointer">
        <label>@Convert.ToDateTime(dish.Time).ToShortTimeString()</label>
        <br />
        @foreach(var subGood in dish.Contents)
        {
            <label>@subGood.Name</label>
            <br />
        }
        <label>@dish.Owner</label>
    </div>
    <br />
}
@code {
    private DateTime _date;
    public DateTime date
    {
        get => _date;
        set
        {
            _date = value;
            UpdateDate();
        }
    }
    List<Dish> datesDishes = new();
    string MemberLogin = "";
    string HHLogin = "";
    protected override async Task OnInitializedAsync()
    {
        date = DateTime.Today;
        base.OnInitialized();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            MemberLogin = user.Identity.Name;
        }
        HHLogin = await MemberService.GetParentHH(MemberLogin);

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Only load data after the first render, to prevent multiple calls
            await HHService.LoadDataFromSession();
            datesDishes = HHService.currentHH.DishesDic.Where(x => x.Key.StartsWith(date.ToShortDateString()))
                                .Select(x => x.Value).ToList();
            datesDishes.OrderBy(x => x.Time);
            // Trigger a re-render if necessary
            StateHasChanged();
        }
    }
    private void GoToCreateNewDish()
    {
        navigationManager.NavigateTo("/DishFactory");
    }
    private void GoToMapDish()
    {
        navigationManager.NavigateTo("/MapDish");
    }
    private void UpdateDate()
    {
        datesDishes = HHService.currentHH.DishesDic.Where(x => x.Key.StartsWith(date.ToShortDateString()))
                                .Select(x => x.Value).ToList();
        datesDishes.OrderBy(x => x.Time);
        if(HHService.currentHH.GoodsDic.Count != 0)
        {
            HHService.currentHH.Forecast(date);
            HHService.UpdateHH();
        }
    }
    private void SetDataAndNavigate(Dish dish)
    {
        HHService.SharedDish = dish;
        HHService.UpdateHH();
        navigationManager.NavigateTo("/DishSpace");
    }
    private void Nuke()
    {
        HHService.currentHH.DishesDic = HHService.currentHH.DishesDic.Where(x=>x.Value.Time == "Template").ToDictionary(x => x.Key, x=> x.Value);
        HHService.UpdateHH();
    }
}
