@page "/MyHouseHold"
@inject IHHService HHService
@inject IMemberService MemberService
@inject IGoodService GoodService
@inject IDishService DishService
@inject IInviteService InviteService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager


@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>MyHouseHold</PageTitle>

<h1>MyHouseHold</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
@if (newHouseHold == null && HHFound)
{
    <span>Loading</span>
}
else if (HHFound)
{
    <span>@newHouseHold.Login</span>
    <br />
    <label>Invite new member</label>
    <br />
    <input @bind-value="@newInvite.Reciever" placeholder="enter reciever e-mail"/>
    <button onclick="@SendInvite" class="btn-primary">Send</button>
    <br />
    @if (InviteSent)
    {
        <label>InviteSent</label>
    }
}
else if (!HHFound)
{
    <EditForm Model="NewHouseHold" OnValidSubmit="HandleNewHH">
        <label>House Hold Login</label>
        <InputText @bind-Value="@NewHouseHold.Login">@NewHouseHold.Login</InputText>
        <br />

        <button type="submit">Submit</button>
    </EditForm>
    @foreach(var invite in myInvites)
    {
        <label>@invite.SenderHH--------</label>
        <button @onclick="() => JoinHH(invite.SenderHH)">Join @invite.SenderHH</button>
    }
}
<br />
@if(newHouseHold != null)
{
    <span>@newHouseHold.Login</span>
}
else
{
    <span>null</span>
}
@if(houseHold != null && houseHold.AllGoods != null)
{
    <ul>
        @foreach(var good in houseHold.AllGoods)
        {
            <li>@good.Name - @good.Stock</li>
            <br />
        }
    </ul>
}
<button class="btn-primary" @onclick='() => navigationManager.NavigateTo("/NewGood")'>Add new good</button>

@code {
    // List<DBGood> goods = null;
    public string error = "";
    private string UserName;
    public DBHouseHold newHouseHold = null;
    bool HHFound = true;
    string hhLogin = "aboba1";
    public HouseHold houseHold = new();
    public List<Invite> myInvites = new();
    public Invite newInvite = new();
    bool InviteSent = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
        }
        try
        {
            hhLogin = await MemberService.GetParentHH(UserName);
            newHouseHold = await HHService.GetHHByID(hhLogin);
            // goods = await GoodService.GetHHGoods(hhLogin);
            if (newHouseHold == null)
            {
                HHFound = false;
                myInvites = await InviteService.GetMyInvites(UserName);
            }
            else
            {

            }
        }
        catch
        {
            HHFound = false;
        }
        assembleHouseHold();

    }
    DBHouseHold NewHouseHold = new DBHouseHold();
    DBMember InitialMember = new();
    public async void HandleNewHH()
    {
        try
        {
            InitialMember.HouseHoldLogin = NewHouseHold.Login;
            InitialMember.MemberLogin = UserName;
            await HHService.CreateHH(NewHouseHold);
            await MemberService.InitialMember(InitialMember);
            newHouseHold = null;
            Task.Delay(1000);
            newHouseHold = await HHService.GetHHByID(UserName);
            HHFound = true;
            navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);
        }
        catch
        {
            error = "aboba";
        }

        // await 
    }
    public async Task<bool> JoinHH(string HHLogin)
    {
        DBMember dBMember = new();
        dBMember.MemberLogin = UserName;
        dBMember.HouseHoldLogin = HHLogin;
        await MemberService.InitialMember(dBMember);
        navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);
        return true;
    }
    public async Task<bool> SendInvite()
    {
        try
        {
            newInvite.Id = hhLogin + newInvite.Reciever;
            newInvite.SenderHH = hhLogin;
            newInvite.Sender = UserName;
            await InviteService.SendInvite(newInvite);
            newInvite = new();
            InviteSent = true;
            return true;  
        }
        catch
        {
            InviteSent = false;
            return false;
        }

    }
    public async void assembleHouseHold()
    {
        houseHold.Login = NewHouseHold.Login;
        var goods = await GoodService.GetHHGoods(hhLogin);
        foreach (var good in goods)
        {
            Good converted = new();
            converted.Name = good.Name;
            if (good.Ingredients != null)
            {
                converted.Ingredients = new();
                foreach (var couple in good.Ingredients[0..(good.Ingredients.Length-1)].Split(','))//Ing could END with "," - see GoodService
                {
                    var couple2 = couple.Split(':');
                    converted.Ingredients.Add(new Good(couple2[0], Convert.ToDouble(couple2[1])));
                }
            }
            converted.Stock = good.Stock;
            converted.PassiveConsumption = good.PassiveConsumptionRate;
            houseHold.AllGoods.Add(converted);
        }
        var dishes = await DishService.GetAllHHDishes(hhLogin);
        foreach (var dish in dishes)
        {
            Dish converted = new();
            converted.Cooked = dish.Cooked;
            converted.Consumed = dish.Consumed;
            converted.Owner = dish.MemberOwner;
            converted.Amount = dish.Amount;
            converted.Time = dish.Time;
            foreach (var couple in dish.Good.Split(','))
            {
                var couple2 = couple.Split(':');
                converted.Contents.Add(new Good(couple2[0], Convert.ToDouble(couple2[1])));
            }
            houseHold.AllDishes.Add(converted);
        }
        // andrey slaaaave
    }
}
